{% extends 'base.html' %}
{% block title %} Eventos {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="row">
    {% for event in events %}
        <div class="col-md-4 col-lg-3 mb-2">
            <div class="card">
                <img src="{{ event.image_url }}" class="card-img-top" style="height: 300px;" alt="Event Image">
                <div>
                    <button type="button" class="mt-5 mx-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal{{lugar.id}}{{loop.index}}">Mas Info</button>
                        <div class="modal fade" id="infoModal{{lugar.id}}{{loop.index}}" tabindex="-1" aria-hidden="true" aria-labelledby="infoModalLabel{{lugar.id}}{{loop.index}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="card-text">Nombre: {{event.nombre}}</p>
                                        <p class="card-text">Ubicacion: {{event.ubicacion}}</p>
                                        <p class="card-text">Inicia: {{event.fechaInicio}}</p>
                                        <p class="card-text">Termina: {{event.fechaFin}}</p>
                                        <p class="card-text">Descripción: {{event.descripcion}}</p>
                                        <p class="card-text">Precio: {{event.precio}}</p>
                                        <p class="card-text">Capacidad: {{event.capacidad}}</p>
                                        <p class="card-text">Asistencia: {{event.asistencia}}</p>
                                    <div>
                                        <a class="mt-5 mx-5 btn btn-primary" href="{% url 'delete_event' event.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este evento?')">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
{% endblock %}