{% extends 'base.html' %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <br>
            <div class="row">
                <div class="col-lg-5">
                    <p>
                        <h4>Username: {{ user.username }}</h4><br>
                        <h4>Email: {{ user.email }}</h4><br>
                        <h4>Role: {{ user.role }}</h4><br>
                        <h4>Age: {{ user.age }}</h4><br>
                        <h4>City: {{ user.location }}</h4><br>
                        <h4>Categories: </h4>
                        {% for categories in user.CategoriaInteres %}
                            <h4>{{ categories }}</h4><br>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <hr>
    </div>
        <div class="col-lg-5">
            <div class="card">
            </div>
            <br><a href="" class="btn btn-dark">Change Password</a>
            <a href="{% url 'delete_user' user.id %}" class="btn btn-success">Delete User</a>
        </div>
</div>
{% endblock %}